<!-- extend base layout -->
{% extends "index_base.html" %}

{% block head_css %}
        {{ super() }}
        <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
       <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
       <li data-target="#carousel-example-generic" data-slide-to="1" ></li>
       <li data-target="#carousel-example-generic" data-slide-to="2" ></li>
        <li data-target="#carousel-example-generic" data-slide-to="3" ></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="jumbotron" style="background: url('https://www.ulifestyle.com.hk/res/images/v2/ul-logo-v2.png');background-size: 100% 100%;background-repeat: no-repeat;">
            <div class="container">
            <h1><i class=""></i> </h1>
            <p>{{_("")}}</p>
            <center>
            <p><a class="btn btn-primary btn-lg" href="https://www.ulifestyle.com.hk/"
                 role="button">{{_("Go")}} <i class=""></i></a></p>
            </center>
            </div>
           </div>
        </div>

       
</div>


</div>

      <div class="row" style="background:url('https://resource02.ulifestyle.com.hk/ulcms/content/article/ogimage/600x338/2025/04/20250428122519_47f7d6291e696f6ee430a05043b641c7108df25c.png');background-size: 100% 100%;background-repeat: no-repeat;">
        <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
          <center>
            <p><a class="btn btn-primary btn-lg" href="https://ezone.hk/article/20063058/tesla%E7%A8%B1model-y%E7%8E%BB%E7%92%83%E5%8F%AF%E6%89%BF%E5%8F%97-%E5%80%8D%E9%87%8D%E9%87%8F-%E5%A4%A7%E6%A8%B9%E5%A3%93%E8%BB%8A%E9%A0%82%E7%AB%9F%E7%84%B6%E9%80%99%E6%A8%A3"
                 role="button">{{_("Tesla稱Model Y玻璃可承受4倍重量 大樹壓車頂竟然這樣？")}} <i class=""></i></a></p>
            </center>
            <ul>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
        </ul>
        </div>
        <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">
          <h1><i class=""></i></h1>
        </div>
      </div>

      <div class="row" style="background:url('https://resource02.ulifestyle.com.hk/ulcms/content/article/ogimage/600x338/2024/12/20241207161241_6987999ab4d5510515d750710ae5c63c4b05a6e6.webp')">
          <div class="col-md-3 col-md-offset-1 col-xs-offset-1 ">
           <h1><i class=""></i></h1>
          </div>
          <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
            <center>
            <p><a class="btn btn-primary btn-lg" href="https://ezone.hk/article/3601940/Apple-Watch%E6%B8%85%E6%BD%94-%E6%AD%A3%E7%A2%BA%E6%96%B9%E6%B3%954%E6%AD%A5%E9%A9%9F%E9%8C%B6%E9%9D%A2%E5%8F%AF%E7%94%A8%E6%B0%B4%E6%B4%97-%E9%99%84%E7%9A%AE%E9%9D%A9%E9%8C%B6%E5%B8%B6%E4%BF%9D%E9%A4%8A%E8%B2%BC%E5%A3%AB"
                 role="button">{{_("Apple Watch清潔｜正確方法4步驟錶面可用水洗？附皮革錶帶保養貼士")}} <i class=""></i></a></p>
            </center>
            <ul>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
        </ul>
        </div>
      </div>

      <div class="row featurette" style="background:url('https://resource02.ulifestyle.com.hk/ulcms/content/article/thumbnail/1280x720/2025/02/20250228154737_48caded5a98909702b6a1a585832afe472f4588b.webp')">
        <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
          <center>
            <p><a class="btn btn-primary btn-lg" href="https://utravel.com.hk/news/detail/20057989/%E6%B0%B4%E8%88%9E%E9%96%93-%E5%9B%9E%E6%AD%B8%E6%BE%B3%E9%96%80%E6%96%B0%E6%BF%A0%E5%A4%A9%E5%9C%B0-%E9%96%80%E7%A5%A8%E8%B3%87%E8%A8%8A-%E6%BC%94%E5%87%BA%E6%99%82%E9%96%93%E5%9C%B0%E9%BB%9E-%E8%A8%82%E7%A5%A8/1"
                 role="button">{{_("澳門水舞間2025年5月回歸有何不同？全新劇情升級特技高台跳水附票價交通")}} <i class=""></i></a></p>
            </center>
        <ul>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
        </ul>
        </div>
      </div>

       <div class="row" style="background:url('https://resource02.ulifestyle.com.hk/ulcms/content/article/thumbnail/1280x720/2024/05/20240513142742_e7ea0676ded92b63a6c52ff25889aad50b92207c.webp')">
          <div class="col-md-3 col-md-offset-1 col-xs-offset-1">
          </div>
          <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
            <center>
            <p><a class="btn btn-primary btn-lg" href="https://ufood.com.hk/restaurant/news/detail/20030404/%E6%97%A5%E6%9C%AC%E4%BA%BA%E6%B0%A3%E6%BC%A2%E5%A0%A1%E6%89%92-%E6%8C%BD%E8%82%89%E3%81%A8%E7%B1%B3-%E7%99%BB%E9%99%B8ifc-5%E6%9C%887%E6%97%A5%E6%AD%A3%E5%BC%8F%E9%96%8B%E5%B9%95"
                 role="button">{{_("挽肉と米預約攻略｜日本人氣過江龍挽肉と米開放網上預約！即席炭烤漢堡扒3種食法")}} <i class=""></i></a></p>
            </center>
          <ul>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
            <li class="lead tight">{{_("")}}</li>
        </ul>
        </div>
      </div>

{% endblock %}
